doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/email.js')

  body
    div.message-body
      div.subject Re: #{subject} 
      div.metadata 
        span.left-justify #[strong #{sender}]
        span.right-justify 9:15 AM (#{hours} hours ago)
        br
        | to You 
      div.message
        pre
          | #{salutation}
          br
          br
          | #{body}
          br
          br
          | #{closing}
    div.response-body
      div.reply-body
        div.recipient #[u To: #{sender}]
          br
          br
          div(class='container' id='container')
            div(class='backdrop' id='backdrop')
              div(class='predictions' id='predictions')
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum enim neque, iaculis ac sem eget, sollicitudin pulvinar lacus. Praesent fringilla fermentum magna ut viverra. Curabitur eros ex, accumsan et ipsum ac, interdum viverra tellus. Cras tincidunt ornare condimentum. Proin dapibus facilisis fermentum. Cras commodo justo elit, nec hendrerit purus commodo id. Pellentesque rutrum, tellus ut venenatis aliquet, ex tellus auctor odio, at rhoncus risus ex sed purus. Cras lectus nunc, malesuada eu eros at, fringilla vestibulum lectus. Morbi lorem nisl, sollicitudin eu ultrices non, porttitor in augue. Quisque risus quam, accumsan eu maximus id, fringilla porttitor lacus. Sed nec aliquet diam. Sed ultrices est sed est euismod, non ornare nunc faucibus. Fusce semper neque vel est varius pretium. Mauris mollis pulvinar massa, ut pulvinar neque euismod a. Phasellus tincidunt interdum ipsum. Maecenas et felis vehicula, volutpat ex vitae, fermentum orci. Proin varius velit turpis. Curabitur rutrum felis et tortor suscipit, eget dictum lacus sodales. Nulla ornare, purus ac dictum accumsan, augue nulla dictum magna, sit amet pretium justo lorem ac nulla. Cras scelerisque elementum odio quis condimentum. Suspendisse aliquet lacus vitae mauris ultrices, at interdum odio efficitur. Aenean id laoreet nibh, ac posuere neque. Nullam sed consequat nisl. Vivamus ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum enim neque, iaculis ac sem eget, sollicitudin pulvinar lacus. Praesent fringilla fermentum magna ut viverra. Curabitur eros ex, accumsan et ipsum ac, interdum viverra tellus. Cras tincidunt ornare condimentum. Proin dapibus facilisis fermentum. Cras commodo justo elit, nec hendrerit purus commodo id. Pellentesque rutrum, tellus ut venenatis aliquet, ex tellus auctor odio, at rhoncus risus ex sed purus. Cras lectus nunc, malesuada eu eros at, fringilla vestibulum lectus. Morbi lorem nisl, sollicitudin eu ultrices non, porttitor in augue. Quisque risus quam, accumsan eu maximus id, fringilla porttitor lacus. Sed nec aliquet diam. Sed ultrices est sed est euismod, non ornare nunc faucibus. Fusce semper neque vel est varius pretium. Mauris mollis pulvinar massa, ut pulvinar neque euismod a. Phasellus tincidunt interdum ipsum. Maecenas et felis vehicula, volutpat ex vitae, fermentum orci. Proin varius velit turpis. Curabitur rutrum felis et tortor suscipit, eget dictum lacus sodales. Nulla ornare, purus ac dictum accumsan, augue nulla dictum magna, sit amet pretium justo lorem ac nulla. Cras scelerisque elementum odio quis condimentum. Suspendisse aliquet lacus vitae mauris ultrices, at interdum odio efficitur. Aenean id laoreet nibh, ac posuere neque. Nullam sed consequat nisl. Vivamus ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum enim neque, iaculis ac sem eget, sollicitudin pulvinar lacus. Praesent fringilla fermentum magna ut viverra. Curabitur eros ex, accumsan et ipsum ac, interdum viverra tellus. Cras tincidunt ornare condimentum. Proin dapibus facilisis fermentum. Cras commodo justo elit, nec hendrerit purus commodo id. Pellentesque rutrum, tellus ut venenatis aliquet, ex tellus auctor odio, at rhoncus risus ex sed purus. Cras lectus nunc, malesuada eu eros at, fringilla vestibulum lectus. Morbi lorem nisl, sollicitudin eu ultrices non, porttitor in augue. Quisque risus quam, accumsan eu maximus id, fringilla porttitor lacus. Sed nec aliquet diam. Sed ultrices est sed est euismod, non ornare nunc faucibus. Fusce semper neque vel est varius pretium. Mauris mollis pulvinar massa, ut pulvinar neque euismod a. Phasellus tincidunt interdum ipsum. Maecenas et felis vehicula, volutpat ex vitae, fermentum orci. Proin varius velit turpis. Curabitur rutrum felis et tortor suscipit, eget dictum lacus sodales. Nulla ornare, purus ac dictum accumsan, augue nulla dictum magna, sit amet pretium justo lorem ac nulla. Cras scelerisque elementum odio quis condimentum. Suspendisse aliquet lacus vitae mauris ultrices, at interdum odio efficitur. Aenean id laoreet nibh, ac posuere neque. Nullam sed consequat nisl. Vivamus ullamcorper. 
            textarea(id='email' name='email')
          br
          button(class='send' id='send' tabindex='-1') Send
          span(class='wordcount' id='wordcount') 0
          span(class='wc_label') Word Count:&nbsp
          span(class='wc_error' id='wc_error')
