doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/minimal.css')
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/javascripts/lz-string.min.js')
    script(src='/javascripts/predictionary.min.js')
    script(src='/javascripts/email.js')

  body
    div.message-body
      div.subject Re: #{subject} 
      div.metadata 
        span.left-justify #{sender}
        span.right-justify 9:15 AM (#{hours} hours ago)
        br
        | to You 
      div.message
        pre
          | #{salutation}
          br
          br
          | #{body}
          br
          br
          | #{closing}
    div.response-body
      div.reply-body
        div.recipient 
          span(class='to' id='to') To: #{sender}
          br
          br
          div(class='container' id='container')
            div(class='backdrop' id='backdrop')
              div(class='predictions' id='predictions')
            textarea(id='email' name='email')
          br
          button(class='send' id='send' tabindex='-1') Send
          span(class='wordcount' id='wordcount') 0
          span(class='wc_label') Word Count:&nbsp
          span(class='wc_error' id='wc_error')