doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/survey.css')
        script(src='/javascripts/survey-1-4.js')
    body
        div(class="pbar")
            div(class="completed" id="completed")
        br
        div.question
            | Please indicate to what extent the following statements describe your experience with #[strong #{algorithm}].
            br
            br
            br
            table
                tr
                    td
                    td Not at all
                    td
                    td
                    td Neutral
                    td
                    td
                    td Extremely well
                tr
                    td(class="header") I felt that I had a lot of control over my experiences working with #[strong #{algorithm}]. 
                    td 
                        input(type='radio' name='control' value=1)
                    td 
                        input(type='radio' name='control' value=2)
                    td 
                        input(type='radio' name='control' value=3)
                    td 
                        input(type='radio' name='control' value=4)
                    td 
                        input(type='radio' name='control' value=5)
                    td 
                        input(type='radio' name='control' value=6)
                    td 
                        input(type='radio' name='control' value=7)
                    td
                tr
                    td(class="header") While working with #[strong #{algorithm}], I had absolutely no control over what I could do with it.
                    td 
                        input(type='radio' name='no control' value=7)
                    td 
                        input(type='radio' name='no control' value=6)
                    td 
                        input(type='radio' name='no control' value=5)
                    td 
                        input(type='radio' name='no control' value=4)
                    td 
                        input(type='radio' name='no control' value=3)
                    td 
                        input(type='radio' name='no control' value=2)
                    td 
                        input(type='radio' name='no control' value=1)
                    td
                tr
                    td(class="header") While working with #[strong #{algorithm}], my actions decided the kind of experiences I got.
                    td 
                        input(type='radio' name='experiences' value=1)
                    td 
                        input(type='radio' name='experiences' value=2)
                    td 
                        input(type='radio' name='experiences' value=3)
                    td 
                        input(type='radio' name='experiences' value=4)
                    td 
                        input(type='radio' name='experiences' value=5)
                    td 
                        input(type='radio' name='experiences' value=6)
                    td 
                        input(type='radio' name='experiences' value=7)
                    td
                tr
                    td(class="header") #[strong #{algorithm}] was effective in gathering users’ feedback.
                    td 
                        input(type='radio' name='feedback' value=1)
                    td 
                        input(type='radio' name='feedback' value=2)
                    td 
                        input(type='radio' name='feedback' value=3)
                    td 
                        input(type='radio' name='feedback' value=4)
                    td 
                        input(type='radio' name='feedback' value=5)
                    td 
                        input(type='radio' name='feedback' value=6)
                    td 
                        input(type='radio' name='feedback' value=7)
                    td
                tr
                    td(class="header") #[strong #{algorithm}] facilitated two-way communication between the users and itself.
                    td 
                        input(type='radio' name='two-way' value=1)
                    td 
                        input(type='radio' name='two-way' value=2)
                    td 
                        input(type='radio' name='two-way' value=3)
                    td 
                        input(type='radio' name='two-way' value=4)
                    td 
                        input(type='radio' name='two-way' value=5)
                    td 
                        input(type='radio' name='two-way' value=6)
                    td 
                        input(type='radio' name='two-way' value=7)
                    td
                tr
                    td(class="header") It was difficult to offer feedback to #[strong #{algorithm}].
                    td 
                        input(type='radio' name='difficult' value=7)
                    td 
                        input(type='radio' name='difficult' value=6)
                    td 
                        input(type='radio' name='difficult' value=5)
                    td 
                        input(type='radio' name='difficult' value=4)
                    td 
                        input(type='radio' name='difficult' value=3)
                    td 
                        input(type='radio' name='difficult' value=2)
                    td 
                        input(type='radio' name='difficult' value=1)
                    td
                tr
                    td(class="header") #[strong #{algorithm}] made me feel it wanted to listen to its users.
                    td 
                        input(type='radio' name='listen' value=1)
                    td 
                        input(type='radio' name='listen' value=2)
                    td 
                        input(type='radio' name='listen' value=3)
                    td 
                        input(type='radio' name='listen' value=4)
                    td 
                        input(type='radio' name='listen' value=5)
                    td 
                        input(type='radio' name='listen' value=6)
                    td 
                        input(type='radio' name='listen' value=7)
                    td
                tr
                    td(class="header") #[strong #{algorithm}] did not at all encourage users to talk back.
                    td 
                        input(type='radio' name='encourage' value=7)
                    td 
                        input(type='radio' name='encourage' value=6)
                    td 
                        input(type='radio' name='encourage' value=5)
                    td 
                        input(type='radio' name='encourage' value=4)
                    td 
                        input(type='radio' name='encourage' value=3)
                    td 
                        input(type='radio' name='encourage' value=2)
                    td 
                        input(type='radio' name='encourage' value=1)
                    td
                tr
                    td(class="header") #[strong #{algorithm}] gave users the opportunity to talk back.
                    td 
                        input(type='radio' name='opportunity' value=1)
                    td 
                        input(type='radio' name='opportunity' value=2)
                    td 
                        input(type='radio' name='opportunity' value=3)
                    td 
                        input(type='radio' name='opportunity' value=4)
                    td 
                        input(type='radio' name='opportunity' value=5)
                    td 
                        input(type='radio' name='opportunity' value=6)
                    td 
                        input(type='radio' name='opportunity' value=7)
                    td
                tr
                    td(class="header") #[strong #{algorithm}] processed my input very quickly.
                    td 
                        input(type='radio' name='processed' value=1)
                    td 
                        input(type='radio' name='processed' value=2)
                    td 
                        input(type='radio' name='processed' value=3)
                    td 
                        input(type='radio' name='processed' value=4)
                    td 
                        input(type='radio' name='processed' value=5)
                    td 
                        input(type='radio' name='processed' value=6)
                    td 
                        input(type='radio' name='processed' value=7)
                    td
                tr
                    td(class="header") Getting suggestions from #[strong #{algorithm}] was very fast.
                    td 
                        input(type='radio' name='fast' value=1)
                    td 
                        input(type='radio' name='fast' value=2)
                    td 
                        input(type='radio' name='fast' value=3)
                    td 
                        input(type='radio' name='fast' value=4)
                    td 
                        input(type='radio' name='fast' value=5)
                    td 
                        input(type='radio' name='fast' value=6)
                    td 
                        input(type='radio' name='fast' value=7)
                    td
                tr
                    td(class="header") I was able to obtain the suggestions I wanted without any delay.
                    td 
                        input(type='radio' name='without any delay' value=1)
                    td 
                        input(type='radio' name='without any delay' value=2)
                    td 
                        input(type='radio' name='without any delay' value=3)
                    td 
                        input(type='radio' name='without any delay' value=4)
                    td 
                        input(type='radio' name='without any delay' value=5)
                    td 
                        input(type='radio' name='without any delay' value=6)
                    td 
                        input(type='radio' name='without any delay' value=7)
                    td
                tr
                    td(class="header") When I used #[strong #{algorithm}], I felt I was getting instantaneous information.
                    td 
                        input(type='radio' name='instantaneous' value=1)
                    td 
                        input(type='radio' name='instantaneous' value=2)
                    td 
                        input(type='radio' name='instantaneous' value=3)
                    td 
                        input(type='radio' name='instantaneous' value=4)
                    td 
                        input(type='radio' name='instantaneous' value=5)
                    td 
                        input(type='radio' name='instantaneous' value=6)
                    td 
                        input(type='radio' name='instantaneous' value=7)
                    td
                tr
                    td(class="header") #[strong #{algorithm}] was very slow in responding to my requests.
                    td 
                        input(type='radio' name='slow' value=7)
                    td 
                        input(type='radio' name='slow' value=6)
                    td 
                        input(type='radio' name='slow' value=5)
                    td 
                        input(type='radio' name='slow' value=4)
                    td 
                        input(type='radio' name='slow' value=3)
                    td 
                        input(type='radio' name='slow' value=2)
                    td 
                        input(type='radio' name='slow' value=1)
                    td
            br
            br
            button(id='next') Next